// root variables
:root {
}

// default colors
$black: #4c4c4c;
$grey: #979797;

//gradients

// transition
$fast: 0.3s all;
$slow: 0.5s all;
$long: 0.9s all;

// radius

// shadow

// bg images urls
